test_trainer/
fine_tuned_model/
langchain/dataScience.pdf
langchain/dataScience.docx
langchain/chromavectorstore
langgraph/langgraph.db
pinecone/configPinecone.py
pinecone/.ipynb_checkpoints
pinecone/__pycache__